---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - envoyxds.io
  resources:
  - clusters
  - endpoints
  - listeners
  - routes
  - tlssecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - envoyxds.io
  resources:
  - clusters/finalizers
  - endpoints/finalizers
  - listeners/finalizers
  - routes/finalizers
  - tlssecrets/finalizers
  verbs:
  - update
- apiGroups:
  - envoyxds.io
  resources:
  - clusters/status
  - endpoints/status
  - listeners/status
  - routes/status
  - tlssecrets/status
  verbs:
  - get
  - patch
  - update
